<div class="container">
  <div class="row">
    <div class="col-md-6 footer">
      <div>
        <h3 class="title">
          Ho tro khach hang
        </h3>
        <hr>
        <ul class="support-customer-list">
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 footer">
      <div>
        <h3 class="title">
          Gioi thieu
        </h3>
        <hr>
        <ul class="support-customer-list">
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
          <li><span>Hotline</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
