<div class="header_top_area container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="top_header_left">
          <div class="input-group">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="top_header_middle">
          <a href="#"><i class="fa fa-phone"></i> Call Us: <span>+84 866688124</span></a>
          <a href="#"><i class="fa fa-envelope"></i> Email: <span>phamphong5499@gmail.com</span></a>
          <img src="" alt="">
        </div>
      </div>
      <div class="col-lg-3">
        <ul class="header_social">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-google"></i></a>
          <a href=""><i class="fa fa-pinterest"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-youtube-play"></i></a>
        </ul>
      </div>
      </div>
    </div>
  </div>

