<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-lg-2 lef-sidebar">
        <div class="block-content">
          <dl>
            <dt class="odd-current">SIZE</dt>
            <hr>
            <dd class="odd-current">
              <ol class="size">
                <li>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                </li>
                <li>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                </li>
              </ol>
            </dd>
            <dt class="odd-current">Tay ao</dt>
            <hr>
            <dd class="odd-current">
              <ol class="size">
                <li>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                </li>
                <li>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                </li>
              </ol>
            </dd>
            <dt class="odd-current">Kieu dang</dt>
            <hr>
            <dd class="odd-current">
              <ol class="size">
                <li>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                </li>
                <li>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                  <a href="" data-toggle="collapse" class="btn btn-outline-primary btn-sm check-box">38</a>
                </li>
              </ol>
            </dd>
          </dl>
        </div>
      </div>
      <div class="col-sm-3 col-lg-9 page-item">

      </div>
    </div>
  </div>
</div>
