<div class="container">
  <div>
    Home > Thong tin
  </div>
  <div class="main">
    <div class="col-lg-4 left-sidebar">
      <div class="block block-account">
        <div class="block-title">
          <h3><strong><span>TÀI KHOẢN </span></strong></h3>
        </div>
        <div class="block-content">
          <ul>
            <li class="current-account"><a href=""><strong>THÔNG TIN CHUNG </strong></a></li>
            <li class="current-account"><a routerLink="/customer/account/edit"><strong>THÔNG TIN TÀI KHOẢN </strong></a></li>
            <li class="current-account"><a href=""><strong>SỔ ĐỊA CHỈ </strong></a></li>
            <li class="current-account"><a href=""><strong>QUẢN LÍ ĐƠN HÀNG </strong></a></li>
            <li class="current-account"><a href=""><strong>ĐĂNG XUẤT</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">

    </div>
  </div>
</div>
